.container_etude {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frise1{
    width: 0px;
    height: 100px;
    border-radius: 30px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(300px);
    transition: width 0.25s linear;
}

.frise2{
    width: 400px;
    height: 100px;
    border-radius: 30px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0px);
    transition: width 0.25s linear;
}

.frise3{
    width: 400px;
    height: 100px;
    border-radius: 30px;
    background-color:  #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-350px);
    transition: width 0.25s linear;
}

