.flashcards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espacement entre chaque flashcard et son texte */
}

.flashcard {
    width: 400px;
    height: 400px;
    perspective: 1000px; /* Ajoute une perspective pour l'effet de retournement */
    position: relative;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Cache la face arrière pendant le retournement */
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    background-color: #ffffff; /* Couleur de fond de la face avant */
}

.back {
    background-color: #323232; /* Couleur de fond de la face arrière */
    transform: rotateY(180deg); /* Fait basculer la face arrière */
}

.flashcard:hover .front {
    transform: rotateY(180deg); /* Retourne la carte lorsque survolée */
}

.flashcard:hover .back {
    transform: rotateY(0deg); /* Affiche la face arrière lorsque survolée */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


p {
    margin: 10px 0 0;
    padding: 10px;
    text-align: center;
}